@import url("https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Belgrano&display=swap");
/* @tailwind base;
@tailwind components;
@tailwind utilities; */

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@tailwind base;
html {
  scroll-behavior: smooth;
}
@layer components {
  .containerBox {
    @apply w-[100%];
  }
}
@layer utilities {
  .padding {
    @apply px-8 py-12 sm:px-14 sm:py-24;
  }
  .padding-nav {
    @apply px-5 py-2 sm:px-10 sm:py-2;
  }
  .padding-card {
    @apply px-1 py-1;
  }
  .padding-servicepage {
    @apply px-10 sm:px-12;
  }
  .padding-x {
    @apply px-10 sm:px-20;
  }
  .padding-y {
    @apply py-12 sm:py-24;
  }
  .padding-l {
    @apply pl-8 sm:pl-16;
  }
  .padding-r {
    @apply pr-8 sm:pr-16;
  }
  .padding-t {
    @apply pt-12 sm:pt-24;
  }
  .padding-b {
    @apply pb-12 sm:pb-24;
  }
  .text-choose-title {
    @apply text-2xl max-xl:text-xl max-sm:text-lg;
  }
  .text-choose-description {
    @apply text-lg max-xl:text-base max-sm:text-sm;
  }
  #main::-webkit-scrollbar {
    display: none;
  }
  #main {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
